*{
 margin:0px;
}

.div-repos { 
    display: flex; 
    flex-wrap: wrap;
}

nav{
    background-color: #24292e;
    padding: 16px;
    color: white;
}

nav h1 {
    text-align: center;
    margin: 0px;
}

.div-search {
    display: flex;
    justify-content: left;
    margin: 20px 0px 0px 20px;
}

.div-search input {
    outline: none;
}